<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>post-location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-item >
    <bm-map [coords]="cords" name="mapa" #search>
      <bm-marker [coords]="cords" color="blue"></bm-marker>
    </bm-map>  
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startNavigation()">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
