
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts List</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchPost"></ion-searchbar>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="reloadPosts(refresher)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/posts/add']" [routerDirection]="'root'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  @if(user){
    <h1>Post of {{user.name}}</h1>
  }

  <ion-list>
    @for (post of posts | postFilter:searchPost ; track post.id ) {
      <app-post-item [post]="post"></app-post-item>      
    }
  </ion-list> 

</ion-content>
